body, * {
  font-family: Poppins;
}

/* navbar */
.navbar {
  background-color: #E64A05;
}
.navbar h1 {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  padding: 15px;
  text-align: center;
}

/* container */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media(min-width: 600px) {
  .container {
    flex-direction: row;
    min-height: calc(100vh - 54px);
  }
}

/* side-bar */
.side-bar {
  background-color: #EAA889;
  color: #fff;
}
.side-bar h2 {
  padding: 15px;
  padding-bottom: 0px;
}
.side-bar img {
  width: 9vh;
  height: 14vh;
  border-radius: 5px;
  margin: 3px;
}
.side-bar img.disabled {
  filter: grayscale(100%);
  opacity: 0.5;
}
.side-bar section:first-child img {
  cursor: pointer;
}
#sorteados, #naoSorteados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media(min-width: 600px) {
  .side-bar {
    max-width: 50%;
    flex-grow: 1;
  }
}
@media(max-width: 600px) {
  .side-bar {
    order: 2;
  }
}

/* content */
.content {
  flex-grow: 1;
}
.content img {
  margin: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  height: calc(100vh - 135px);
}
.buttons {
  display: flex;
}
.buttons button {
  background-color: #EAA889;
  border: none;
  color: white;
  padding: 15px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}
.buttons button:first-child {
  background-color: #E64A05;
}
#sorteado {
  text-align: center;
}